
/* Your CSS Code here. */
.holder{
	display:grid;
	width:200px;
	height:200px;
	gird-template-colums:repeat(2,1f);
	gird-template-row:repeat(2,1f);
	gap:5px;
}
.item{
	background-color:lightblue;
	display:flex;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	font-size:18px;
	border: 1px solid #999;
}